<!DOCTYPE html>
<html>
<head>
    <title>Введи токен</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Введите данные</h1>
    <form name="tokenForm" method= "post" action="/itsme">
        <label>Токен</label>
        <input type="text" name="tokenName" />

        <button type="submit" id="submit">Отправить</button>
    </form>
<script>  

</script>
</body>
<html>